.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #C2C2C2;
  border: 2px solid #C2C2C2;
}

h1 {
  padding-left: 40px;
  padding-top: 75px;
  margin-top: 0;
}

.header {
  height: 200px;
  width: 100%;
  background-color: #B8B8B8;
  top:0;
}

.paragraph {
  width: 65%;
  float:left;
  clear:both;
  background-color: #fff;
}

p {
  padding: 2px;
}
.right {
  float:left;
  background-color: #B5B5B5;
  width: 35%;
  height: 100%;
}

li {
  padding-bottom: 10px;
  list-style-type: none;
}

ul {
  padding: 0;
}

.top {
  background-color: #E8E8E8;
  float:left;
  width: 100%;
}

.bottom {
  background-color: #A6A6A6;
  width: 100%;
  clear:both;
  float:left;
}

.footer {
  clear: both;
  height: 50px;
  width: 100%;
  background-color: #8F8F8F;
}

#foot {
  padding-left: 20px;
  padding-top: 15px;
}
